services:
  cfu-wib-bot:
    image: cfu-wib-bot:latest
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: cfu-wib-bot
    ports:
      - 5123:5123
    networks:
      - app-network
    volumes:
      - ./api/main.py:/app/main.py
      - ./api/lib:/app/lib
      - ./api/llm_engine.py:/app/llm_engine.py
      - ./api/config.py:/app/config.py
      - ./api/database.py:/app/database.py
      - ./api/security.py:/app/security.py
      - ./api/utils.py:/app/utils.py
      - ./api/data:/app/data
      - ./api/routes.py:/app/routes.py
      - ./api/.env:/app/.env
      - ./api/graphql_schema.py:/app/graphql_schema.py
      - ./api/requirements.txt:/app/requirements.txt
      - ./api/chart_generator.py:/app/chart_generator.py
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      # - "traefik.http.routers.about.middlewares=basicauth"
      - "traefik.http.routers.winscfuwibapi.rule=Host(`winscfuwibapi.dhiaul.my.id`)"
      - "traefik.http.services.winscfuwibapi.loadbalancer.server.port=5123" 

  # Chainlit Service
  cfu-wib-chainlit:
    build:
      context: ./chainlit
      dockerfile: Dockerfile
    container_name: cfu-wib-chainlit
    ports:
      - 8899:8899
    networks:
      - app-network
    volumes:
      - ./chainlit/app.py:/app/app.py
      - ./chainlit/.env:/app/.env
      - ./chainlit/.chainlit:/app/.chainlit
      - ./chainlit/.chainlit/chainlit.md:/app/.chainlit/chainlit.md
      - ./chainlit/.chainlit/config.toml:/app/.chainlit/config.toml
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      # - "traefik.http.routers.about.middlewares=basicauth"
      - "traefik.http.routers.winscfuwibchatbot.rule=Host(`winscfuwibchatbot.dhiaul.my.id`)"
      - "traefik.http.services.winscfuwibchatbot.loadbalancer.server.port=8899" 

networks:
  app-network:
    driver: bridge
    name: cfu-wib-sql-chatbot_app-network